.actionPopup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  align-items: center;
  top: 300px;
  left: 300px;
}

.content {
  margin-left: 50px;
  background: url('../assets/hud/menu_background.jpg');
  color: #000;
  width: 400px;
  height: 400px;
  padding: 20px;
  border: 8px solid #000;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.75);
}

.newLevel .content {
  height: 500px;
}

.content > div {
  background: url('../assets/hud/paper-texture.jpg');
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content > div > h1 {
  text-align: center;
}

.content > div > p {
  padding: 20px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: 10px;
  align-items: center;
}

.textHeader {
  margin-left: auto;
  margin-right: auto;
  color: #4f4c43;
  font-size: 42px;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
}

.actions > button {
  padding: 5px 10px 5px 10px;
  font-family: Seagram, Arial, Helvetica, Helvetica Neue, serif;
  font-size: 32px;
  font-weight: bold;
  color: #4f4c43;
  background: #d8d4c9;
  border: 3px outset #ffbb35;
  box-shadow: inset 0 0 30px black;
}

.actions > button:hover,
button.active {
  box-shadow: inset 0 0 20px white !important;
  color: #fff !important;
}
