.card {
  background: url('../assets/hud/paper-texture.jpg');
  color: #000;
  width: 180px;
  height: 290px;
  margin: 10px;
  padding: 30px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px #fff;
}

.dataWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px 0 5px 0;
  color: #4f4c43;
  background-color: #d8d4c9;
  border: 3px ridge #ffbb35;
  box-shadow: inset 0 0 15px #4f4c43;
}

.card * {
  text-align: center;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
}

.card > img {
  width: 150px;
  height: 150px;
  margin: 10px auto;
  border: 5px ridge #ffbb35;
  box-shadow: 0 0 10px #422e12;
}

.cardName {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.cardPower {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(139, 0, 0);
  border: 2px white solid;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
  line-height: 40px;
  box-shadow: 0 0 10px #000;
}
