.popupContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 250px;
  left: 300px;
  padding: 20px;
  background: url('../assets/hud/eq-background.jpg');
  width: 800px;
  height: 600px;
  border: 8px solid #000;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.75);
}

.popupHeader {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: calc(100% - 60px);
  background: url('../assets/hud/menu_background.jpg');
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #d8d4c9;
  border: 3px ridge #ffbb35;
  box-shadow: 0 0 30px #000;
}

.popupContainer button {
  padding: 5px 10px 5px 10px;
  font-family: Seagram, Arial, Helvetica, Helvetica Neue, serif;
  font-size: 48px;
  font-weight: bold;
  color: #4f4c43;
  background: #d8d4c9;
  border: 3px outset #ffbb35;
  box-shadow: inset 0 0 30px black;
}

.popupContainer button:hover,
button.active {
  box-shadow: inset 0 0 20px white !important;
  color: #fff !important;
}

.popupContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closePopup {
  margin: 50px 20px auto !important;
}
