.fightPopup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 200px;
  left: 300px;
  z-index: 1000000;
}

.popupHeader {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: calc(100% - 60px);
  background: url('../assets/hud/menu_background.jpg');
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #d8d4c9;
  border: 3px ridge #ffbb35;
  box-shadow: 0 0 30px #000;
}

.content {
  margin-left: 50px;
  background: url('../assets/hud/eq-background.jpg');
  color: #000;
  padding: 20px;
  border: 8px solid #000;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.75);
}

.fightView > div {
  display: flex;
  flex-direction: column;
}

.enemies {
  display: flex;
  flex-direction: row !important;
}

.enemies > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemies > div:first-child {
  margin-right: 40px;
}

.diceStyle {
  padding: 20px;
  max-width: 60px;
  max-height: 60px;
  background: #000;
  border: 10px ridge #ffbb35;
  box-shadow: inset 0 0 30px #ffbb35;
}

.content > div > h1 {
  text-align: center;
}

.content > div > p {
  padding: 20px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: 10px;
}

.textHeader {
  margin-left: auto;
  margin-right: auto;
  color: #4f4c43;
  font-size: 42px;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
}

.actions > button {
  padding: 5px 10px 5px 10px;
  font-family: Seagram, Arial, Helvetica, Helvetica Neue, serif;
  font-size: 32px;
  font-weight: bold;
  color: #4f4c43;
  background: #d8d4c9;
  border: 3px outset #ffbb35;
  box-shadow: inset 0 0 30px black;
}

.actions > button:hover,
button.active {
  box-shadow: inset 0 0 20px white !important;
  color: #fff !important;
}

.player {
  margin-top: -70px;
  color: #4f4c43;
  display: flex;
  flex-direction: row;
  background: #d8d4c9;
  zoom: 50%;
}

.playerColor {
  width: 80px;
  height: 80px;
  border: 5px ridge #ffbb35;
  box-shadow: inset 0 0 30px #000;
}

.playerName {
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
  border-top: 3px ridge #ffbb35;
  border-right: 3px ridge #ffbb35;
  border-bottom: 3px ridge #ffbb35;
  box-shadow: inset 0 0 30px #000;
  width: calc(100% - 133px);
}

.playerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playerAvatar {
  width: 220px;
  height: 330px;
  margin-top: 10px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('../assets/hud/paper-texture.jpg');
  border: 3px solid #000;
}

.scoreText {
  text-align: center;
}
