.wrapper {
  display: flex;
  flex-direction: row;
}

.playerIco {
  width: 50px;
  height: 50px;
  border: 3px ridge #ffbb35;
  box-shadow: inset 0 0 30px #000;
}

.inputName {
  padding-left: 30px;
  width: 600px;
  color: #4f4c43;
  font-size: 25px;
  font-weight: bold;
  background-color: #d8d4c9;
  box-shadow: inset 0 0 10px #4f4c43;
}

.deleteButton {
  font-family: Seagram, Arial, Helvetica, Helvetica Neue, serif;
  font-size: 20px;
  font-weight: bold;
  color: #d8d4c9;
  background: #800000;
  border: 3px outset #ffbb35;
  box-shadow: inset 0 0 20px black;
}

.deleteButton:hover {
  box-shadow: inset 0 0 20px #e60000 !important;
  color: #fff !important;
}
