.menuContainer a {
  display: block;
  margin: 1em;
  font-size: 3rem;
  text-shadow: 0 0 10px #fff;
}

.menuContainer {
  margin: auto;
  max-width: 940px;
  max-height: 600px;
  padding: 50px 100px 50px 100px;
  background-image: url('../assets/bg-main-menu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px ridge #000;
  box-shadow: 0 0 30px #000;
}
