.popupContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 250px;
  left: 300px;
  padding: 20px;
  background: url('../assets/hud/eq-background.jpg');
  width: 800px;
  height: 500px;
  border: 8px solid #000;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.75);
}

.popupHeader {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: calc(100% - 60px);
  background: url('../assets/hud/menu_background.jpg');
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #d8d4c9;
  border: 3px ridge #ffbb35;
  box-shadow: 0 0 30px #000;
}

.upperRow {
  display: flex;
  flex-direction: row;
}

.player {
  margin: 20px;
  color: #4f4c43;
  display: flex;
  flex-direction: row;
  background: #d8d4c9;
}

.playerColor {
  width: 80px;
  height: 80px;
  border: 5px ridge #ffbb35;
  box-shadow: inset 0 0 30px #000;
}

.playerName {
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
  border-top: 3px ridge #ffbb35;
  border-right: 3px ridge #ffbb35;
  border-bottom: 3px ridge #ffbb35;
  box-shadow: inset 0 0 30px #000;
}

.dieStyle {
  padding: 40px;
  max-width: 200px;
  max-height: 200px;
  background: #000;
  border: 10px ridge #ffbb35;
  box-shadow: inset 0 0 30px #ffbb35;
}

.popupContainer button {
  max-height: 90px;
  margin-top: 20px;
  padding: 5px 75px 5px 75px;
  font-family: Seagram, Arial, Helvetica, Helvetica Neue, serif;
  font-size: 48px;
  font-weight: bold;
  color: #4f4c43;
  background: #d8d4c9;
  border: 3px outset #ffbb35;
  box-shadow: inset 0 0 30px black;
}

.popupContainer button:hover,
button.active {
  box-shadow: inset 0 0 20px white !important;
  color: #fff !important;
}

.popupContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
