.playerBar {
  display: flex;
  flex-direction: row;
}

.player {
  display: flex;
  min-width: 250px;
  margin-left: 5px;
  padding: 5px;
  border: 3px ridge #ffbb35;
  background-color: #d8d4c9;
  color: #4f4c43;
  -moz-box-shadow: inset 0 0 20px #000;
  -webkit-box-shadow: inset 0 0 20px #000;
  box-shadow: inset 0 0 20px #000;
}

.playerInner {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.playerImg {
  border: 3px ridge #ffbb35;
  width: 75px;
  height: 75px;
  box-shadow: inset 0 0 20px #000;
}
.playerData {
  display: flex;
  flex-direction: column;
}
.playerName {
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
  border-bottom: 3px ridge #ffbb35;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.playerStats {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
}

.statCell {
  display: flex;
  flex-direction: column;
  padding: 3px;
  text-align: center;
  font-weight: bold;
}

.label {
  width: 25px;
  height: 20px;
  margin-bottom: 3px;
  padding-left: 1px;
  padding-top: 2px;
  color: #d8d4c9;
  border: 2px ridge #ffbb35;
}

.str {
  background-color: #872412;
  box-shadow: inset 0 0 10px #e03c1f;
}

.mg {
  background-color: #125287;
  box-shadow: inset 0 0 10px #62adea;
}

.hp {
  background-color: #207216;
  box-shadow: inset 0 0 10px #77e269;
}

.gp {
  background-color: #bc790e;
  box-shadow: inset 0 0 10px #f3b859;
}
