.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 8px double #ffbb35;
  width: 240px;
  height: auto;
}

.player {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 114px;
  background-image: url('../../assets/bg-scroll.png');
  background-repeat: no-repeat;
  text-align: center;
}

.playerName {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-top: 22px;
  font-size: 28px;
  font-weight: bold;
  color: black;
  border-bottom: 5px double black;
}

.className {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.playerStats {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.statCell {
  display: flex;
  flex-direction: column;
}

.movCell {
  width: 84px;
  height: 84px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 84px;
  font-size: 50px;
  font-weight: bold;
  color: #4f4c43;
  border: 5px ridge #ffbb35;
  background-color: #d8d4c9;
  box-shadow: inset 0 0 30px #000;
}

.lvlCell {
  display: flex;
  flex-direction: row;
  width: 84px;
  height: 84px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 84px;
  font-size: 50px;
  font-weight: bold;
  color: #4f4c43;
  border: 5px ridge #ffbb35;
  background-color: #d8d4c9;
  box-shadow: inset 0 0 30px #000;
}

.lvlWrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.label {
  width: 40px;
  height: 40px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 25px;
  font-weight: bold;
  border: 2px outset #ffbb35;
}

.value {
  width: 40px;
  height: 40px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border: 2px ridge #ffbb35;
  background-color: #d8d4c9;
  font-size: 25px;
  font-weight: bold;
  color: #4f4c43;
  box-shadow: inset 0 0 20px #000;
}

.str {
  background-color: #872412;
  box-shadow: inset 0 0 20px #e03c1f;
}

.mg {
  background-color: #125287;
  box-shadow: inset 0 0 20px #62adea;
}

.hp {
  background-color: #207216;
  box-shadow: inset 0 0 20px #77e269;
}

.gp {
  background-color: #bc790e;
  box-shadow: inset 0 0 20px #f3b859;
}
