.wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #d8d4c9;
}

.fieldRound {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 5px;
  border-bottom: 5px double #ffbb35;
}

.fieldTime {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
}

.label {
  width: 160px;
  margin: auto;
}

.value {
  width: 100px;
  margin: auto;
}
