.container {
  /* background: #333; */
  width: calc(100vw - 10em);
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative;
  padding: 0.5em;
}

.backLink {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 1.4em;
}

.logo {
  width: 800px;
  height: 300px;
  margin: 80px auto;
  background: url('../assets/hud/logo.png') no-repeat;
  background-size: cover;
}
