.upperBar {
  background: url('../assets/hud/menu_background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 122px;
  padding: 10px;
  border-bottom: 10px ridge #ffbb35;
}

.sideBar {
  width: 540px;
  background: url('../assets/hud/menu_background.jpg');
  background-size: cover;
  padding: 50px;
  border-left: 10px ridge #ffbb35;
}

.mainScreen {
  display: flex;
  flex-direction: row;
}

.blur {
  filter: blur(5px);
}

.buttonSpecial {
  margin: 10px auto 10px auto;
  padding: 5px 10px 5px 10px;
  display: flex;
  font-family: Seagram, Arial, Helvetica, Helvetica Neue, serif;
  font-size: 32px;
  font-weight: bold;
  color: #4f4c43;
  background: #d8d4c9;
  border: 3px outset #ffbb35;
  box-shadow: inset 0 0 30px black;
}

.buttonSpecial:hover,
.buttonSpecial.active {
  box-shadow: inset 0 0 20px white !important;
  color: #fff !important;
}
