.topWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 50px;
  font-weight: bold;
  color: #d8d4c9;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 8px double #ffbb35;
}

.selector {
  display: flex;
  flex-direction: row;
  border: 2px ridge #ffbb35;
  background-color: #c90;
  box-shadow: inset 0 0 20px #804000;
  padding: 5px;
}

.selectorLable {
  border: 2px ridge #ffbb35;
  background-color: #d8d4c9;
  color: #4f4c43;
  font-weight: bold;
  box-shadow: inset 0 0 10px #000;
  padding: 10px 30px;
}

.gameParams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gameParams div {
  margin: auto 60px;
}

.playerWrapper {
  margin-left: auto;
  margin-right: auto;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}

.button {
  width: 450px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #4f4c43;
  font-size: 25px;
  font-weight: bold;
  border: 2px ridge #ffbb35;
  background-color: #d8d4c9;
  box-shadow: inset 0 0 30px #000;
}
.button:hover {
  text-shadow: 0 0 10px #000;
  color: #d8d4c9;
}

.link {
  color: #4f4c43;
  font-size: 25px;
  font-weight: bold;
  opacity: 1;
}

.link:hover {
  text-shadow: 0 0 10px #000;
  color: #d8d4c9;
}
