.header {
  font-size: 50px;
  font-weight: bold;
  color: #d8d4c9;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 8px double #ffbb35;
}

.rulesWrapper {
  margin-top: 50px;
  overflow-y: scroll;
  height: 400px;
  background: url('../assets/hud/paper-texture.jpg') repeat;
  color: #000;
  background-position: -10px;
  border: 5px ridge #ffbb35;
  box-shadow: inset 0 0 20px #804000;
}
