.wrapper {
  margin-top: 30px;
  overflow-y: auto;
  max-height: 400px;
  background-position: -10px;
}

.header {
  color: #d8d4c9;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 8px double #ffbb35;
}

.table {
  background-color: #d8d4c9;
  color: #4f4c43;
  border: 3px ridge #ffbb35;
}

.table th {
  padding: 3px;
  background-color: #872412;
  color: #d8d4c9;
  border: 3px ridge #ffbb35;
  box-shadow: inset 0 0 20px black;
  font-weight: bold;
  font-size: 22px;
}

.table td {
  padding: 3px;
  font-size: 18px;
}

.gridHeader {
  font-weight: bold;
  box-shadow: inset 0 0 10px white;
}

.grid {
  box-shadow: inset 0 0 10px white;
}
