/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: Seagram;
  font-weight: normal;
  font-style: normal;
  src: url('./assets/hud/fonts/Seagram.ttf') format('truetype');
}

body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: Seagram, Arial, Helvetica, Helvetica Neue, serif;
  letter-spacing: 0.1em;
  overflow-y: hidden;
  background: url('./assets/hud/menu_background.jpg') no-repeat;
  background-size: cover;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
